RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
Redirect 301 /cat_sitting /cat-sitting-warrington
Redirect 301 /dog_walking /dog-walking-warrington
Redirect 301 /about_us /about-us
Redirect 301 /contact_us /contact-us
Redirect 301 /privacy_policy /privacy-policy
